@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Font Variables */
  --font-poppins-regular: 'Poppins', sans-serif; /* Regular */
  --font-poppins-medium: 'Poppins', sans-serif; /* Medium */
  --font-poppins-semi-bold: 'Poppins', sans-serif; /* Semi-Bold */
  --font-poppins-bold: 'Poppins', sans-serif; /* Bold */
  --font-poppins-light: 'Poppins', sans-serif; /* Light */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins-regular); /* Default font */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
